*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../image/bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 5px 35px;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: #EFECEC;
}
nav img{
    width: 300px;
    padding: 15px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style:  none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #0C2D57;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #0C2D57;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: auto;
}
.offers{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 60px;
    font-weight: 600;
    color: #EFECEC;
}
p{
    color: #FC6736;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: "Inter", sans-serif;
}
h2{
    color: #0C2D57;
    font-size: 35px;
    font-family: "Inter", sans-serif;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.offers-col{
    flex-basis: 30%;
    background: #EFECEC;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.btn{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 310px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    margin: 20px 10px;
    border-radius: 55px;
    /* font-weight: bold; */
    border: 2px solid #FC6736;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button:hover{
    border: none;
    background: #FC6736;
    color: #000;
    transition: 0.2s;
}