*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../image/analyst.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 5px 35px;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: #EFECEC;
}
nav img{
    width: 300px;
    padding: 15px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style:  none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #0C2D57;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #0C2D57;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: auto;
}
/* ---------------------------------------------------- */
.wrapper{
    width: 700px;
    margin: 85px auto 0;
  }
  .select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .select-btn{
    height: 65px;
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #292929;
    background: #EFECEC;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .select-btn i{
    font-size: 30px;
    transition: transform 0.3s linear;
  }
  .wrapper.active .select-btn i{
    transform: rotate(-180deg);
  }
  .content{
    display: none;
    padding: 20px;
    margin-top: 15px;
    background: #EFECEC;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .wrapper.active .content{
    display: block;
  }
  .content .search{
    position: relative;
  }
  .search i{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
  }
  .search input{
    height: 50px;
    width: 593px;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
  }
  .search input:focus{
    padding-left: 42px;
    border: 2px solid #4285f4;
  }
  .search input::placeholder{
    color: #bfbfbf;
  }
  .content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
    font-family: 'Poppins', sans-serif;
    color: #104181;
  }
  .options::-webkit-scrollbar{
    width: 7px;
  }
  .options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
  }
  .options li{
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
  }
  .options li:hover, li.selected{
    border-radius: 5px;
    background: #f2f2f2;
  }