<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bbb.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <style>
        .background-image {
            background-image: url("{{ url_for('static', filename='image/bg.png') }}");
            background-size: cover;
            background-position: center;
            min-height: 100vh;
        }
    </style>
</head>
<body class="background-image">
    <nav>
        <img src="{{ url_for('static', filename='image/logo.png') }}" class="logo">
        <div class="nav-links">
            <ul>
                <li><a href="/home_page">HOME</a></li>
                <li><a href="/prediction_page">PREDICTION</a></li>
                <li><a href="/new_page">SEVERITY</a></li>
                <li><a href="#">ANALYSIS</a></li>
            </ul>
        </div>
    </nav>
    <h1 id="accident-severity">Accident severity prediction</h1>

    <form id="prediction-form" method="post" action="/new_page">
        <label for="Number_of_Vehicles"> Number of vehicles:</label>
        <select id="numberOfVehicles" name="Number_of_Vehicles" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>

        </select><br>

        <label for="Number_of_Casualties">Number of Casualties:</label>
        <select id="NumberOfCasualties" name="Number_of_Casualties" required>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
            <option value="9"> 9 </option>
            <option value="10"> 10 </option>
            <option value="11"> 11 </option>
            <option value="12"> 12 </option>
            <option value="13"> 13 </option>
            <option value="14"> 14 </option>
            <option value="15"> 15 </option>
            <option value="16"> 16 </option>
            <option value="17"> 17 </option>
            <option value="18"> 18 </option>
            <option value="19"> 19 </option>
            <option value="20"> 20 </option>
            <option value="21"> 21 </option>
            <option value="22"> 22 </option>
            <option value="23"> 23 </option>
            <option value="24"> 24 </option>
            <option value="25"> 25 </option>

        </select><br>

        <label for="Weather_Conditions">Weather Conditions:</label>
        <select id="WeatherConditions" name="Weather_Conditions" required>
            <option value="Fine no high winds">Fine no high winds</option>
            <option value="Raining no high winds">Raining no high winds</option>
            <option value="Snowing no high winds">Snowing no high winds</option>
            <option value="fine + high winds">fine + high winds</option>
            <option value="raining + high winds">raining + high winds</option>
            <option value="snowing + high winds">snowing + high winds</option>
            <option value="fog or mist">fog or mist</option>

        </select><br>

        <label for="Road_Surface_Conditions">Road Surface Conditions:</label>
        <select id="RoadSurfaceConditions" name="Road_Surface_Conditions" required>
            <option value="Dry">Dry</option>
            <option value=" Wet or damp"> Wet or damp</option>
            <option value="Frost or ice">Frost or ice</option>
            <option value="snow">snow</option>
        </select><br>

        <label for="Light conditions">Light conditions:</label>
        <select name="Light conditions" id="light_conditions_id" required>
            <option value="Daylight">Daylight</option>
            <option value="Darkness - no lighting">Darkness - no lighting</option>
            <option value="Darkness - lights lit">Darkness - lights lit</option>
            <option value="Darkness - lighting unknown">Darkness - lighting unknown</option>
            <option value="Darkness - lights unlit">Darkness - lights unlit</option>
        </select><br>
        <button type="submit">Predict</button>
    </form>
    {% if predictions is not none %}
        <div id="prediction-result" class="prediction-box">
            <h2>Predictions:</h2>
            <p>{{ predictions }}</p>
        </div>
    {% endif %}

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- Your custom JavaScript file -->
    <script src="{{ url_for('static', filename='jsFiles/bbb.js') }}"></script>
</body>
</html>
