<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
</head>

<body>

    <div class="bg">
        <div class="navbar">
            <img src="{{ url_for('static', filename='IMAGE/logoaccitracker.png') }}" class="logo">
        </div>
    </div>
    <div class="content">
        <h1> Predictive Analysis for <br> Road Accident Forecasting </h1>
        <br>
        <br>
        <p>AcciTracker is a software solution that can predict accident severity and number of accidents
            using past accident data. <br> This system targets people who travel on the road and generates
            information about accidents that can happen on that day <br> and the severity of the accident. Using
            this information drivers can drive safely <br> and this may be a reason for a reduction in road
            accidents in the future.
            </p>
        <br>
        <br>
        <div>
            <button onclick="goToPage('aaa.html')">Prediction</button>
            <button onclick="goToPage('bbb.html')">Severity</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='jsFiles/homepage.js') }}"></script>
</body>
</html>
